:root {
    --value: 40%;
    --back-color: #EBECF0;
  }
body{
    margin: 0;
    font-size: 22px;
    box-sizing: border-box;
    background-color: #EBECF0;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
}
.my-link{
    position: absolute;
    right: 0;
}
.col{
    margin: 20px 0px;
}
.my-btn{
    margin-left: 20px;
}
.alert{
    margin: 1rem;
}
.neumorphic-btn {
    font-size: 20px;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
    color: #6D7587;
    background-color: var(--back-color);
    /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), 
                -2px -2px 4px 2px rgba(255, 255, 255, 1), 
                inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
                inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, .2),
                inset 7px 7px 15px rgba(55, 84, 170, 0),
                inset -7px -7px 20px rgba(255, 255, 255, 0),
                0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
  }
  
  .neumorphic-btn:active {  
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, 0),
                inset 7px 7px 15px rgba(55, 84, 170, .15),
                inset -7px -7px 20px rgba(255, 255, 255, 1),
                0px 0px 4px rgba(255, 255, 255, .2) !important;
    outline: none;
    border: none;
  }
  .neumorphic-btn:focus{
    border: none;
    outline: none;
  }
  .neumorphic-card {
    display: block;    
    padding: 50px;
    background-color: var(--back-color);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-radius: 30px;
  }
  .neumorphic-input {
    background-color: var(--back-color);
    border-radius: 10px;
    border: 3px solid #f3f4f7;
    box-shadow: 2px 2px 3px rgba(55, 84, 170, .15),
                inset 0px 0px 4px rgba(255, 255, 255, 0),
                inset 7px 7px 15px rgba(55, 84, 170, .15),
                inset -7px -7px 20px rgba(255, 255, 255, 1),
                0px 0px 4px rgba(255, 255, 255, .2) !important;
    padding: 5px 15px;
    outline: none !important;
    color: #535D74;
  }
  .neumorphic-input:active{
      outline: none;
      border: none;
  }
  .neumorphic-input:focus{
    outline: none;
    border: none;
}


@media (max-width:500px) {
    .form-container{
        width: 60%;
    }
}